/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#weekSelect {
    text-align: center;
}

#skillSelect {
    text-align: center;
}

#nameSearch {
    text-align: left;
    margin: auto;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #0e0f12;
    color: #dcddde;
    -webkit-text-size-adjust: 100%;
}

/* Header styles */
header {
    background-color: #202225;
    padding: 1rem;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header li {
    margin: 0 1rem;
}

header a {
    color: #dcddde;
    text-decoration: none;
    transition: color 0.2s;
}

header a:hover {
    color: #0094ff;
}

/* Points-display styles */
.points-display {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
    background-color: #202225;
    padding: 1rem;
    border-radius: 5px;
}

/* Stat styles */
#stat {
    text-align: center;
    margin: 1rem 0;
}

#stat input::-webkit-inner-spin-button,
#stat input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#stat button {
    background-color: #0094ff;
    color: #dcddde;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

th {
    cursor: pointer; /* Change cursor to pointer */
    position: relative; /* Create a positioning context for the tooltip */
}

#stat .content {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#stat input {
    background-color: #1a1d21;
    color: #dcddde;
    width: 100px;
    margin: 0 0.5rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

/* Button styles */
.top, .bottom {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.primary-button {
	font-family: 'Work Sans', sans-serif;
    background-color: #0094ff;
    color: #dcddde;
    font-size: 1.25rem !important;
    padding: 0.75rem 3rem !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.primary-button:hover {
    background-color: #007ae1;
}

#submito {
	font-family: 'Work Sans', sans-serif;
    background-color: #0094ff;
    color: #dcddde;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#submito:hover {
    background-color: #007ae1;
}

/* Dropdown styles */
select {
	font-family: 'Work Sans', sans-serif;
    background-color: #1a1d21;
    color: #dcddde;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
    display: block;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:focus {
    outline: none;
}

/* Add a custom arrow for the dropdown */
select::-ms-expand {
    display: none;
}

select::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em);
    pointer-events: none;
}

/* Position information container styles */
#infoContainer {
    background-color: #202225;
    color: #dcddde;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    line-height: 1.5;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

table, th, td {
  border: 1px solid #0094ff;
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #0094ff;
}

thead th {
  font-weight: bold;
  color: #dcddde;
}

tbody tr:nth-child(odd) {
  background-color: #1a1d21;
}

tbody tr:nth-child(even) {
  background-color: #0e0f12;
}

tbody tr:hover {
  background-color: #202225;
}

.table-header {
  cursor: pointer;
}

/* Hyperlink styles */
a {
    color: #0094ff;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #007ae1;
}

/* Search box styles */

/* Search box styles */

.search-box {
  display: flex;
  align-items: center;
  background-color: #1a1d21;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem auto;
  max-width: 500px;
}

.search-box input[type="text"] {
  flex: 1;
  background: none;
  border: none;
  color: #dcddde;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: 'Work Sans', sans-serif;
}

.search-box input[type="text"]::placeholder {
  color: #a1a4b2;
}

.search-box input[type="text"]:focus {
  outline: none;
}

.search-box button[type="submit"] {
  background: none;
  color: #dcddde;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  transition: color 0.2s;
}

.search-box button[type="submit"]:hover {
  color: #0094ff;
}

/* Add this block of code for responsive design */

@media screen and (max-width: 600px) {
    /* Change the header styles for small screens */

    /* Change the font size and padding for the table to fit better on small screens */
    table {
        font-size: 12px;
    }

    table, th, td {
        padding: 5px;
    }

    /* Adjust the width and margin of the select element */
    select {
        max-width: 100%;
        margin: 1rem 0;
    }

    /* Adjust the stat input width and margin */
    #stat input {
        width: 80px;
        margin: 0.25rem 0.25rem;
    }
	
	#stat {
		margin: 1rem 0;
	}

	#infoContainer {
		background-color: #202225;
		color: #dcddde;
		padding: 1rem;
		border-radius: 5px;
		margin: 1rem 0;
		line-height: 1.5;
		overflow-x: auto; /* Add this line */
	

}