@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
    background-color: #0088a9;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width = 80%;
    margin: 0 auto;
}

.logo {
    height: 100px;
}


header {
    background-color: black;
    align-items: center;
    display: flex;
    padding: 30px, 10%;
}

.links {
    list-style: none;
    color: white;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
    font-size: 140%;
}

form {
    vertical-align: center;
}

.links li a:hover {
    color: #0088a9
}

.tiny_title{
    text-align: center;
    color: #1c1d1f;
    font-size: 250%;
    font-weight: 600;
}

.tinier_title{
    color: #1c1d1f;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.inputs {
    text-align: center;
}

input {
    display: inline;
    width: 15%;
    border-radius: 15px;
    -moz-appearance:textfield;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 200%;
}
@media only screen and (max-width: 1000px) {
    input {
        line-height: 400%;;
    }
    .submito{
        width: 50%;
        height: 100px;
    }
    .tinier_title {
        font-size: 30px;
    }
    .tiny_title {
        font-size: 375%;
    }
    .links li a {
        font-size: 26px;
    }
  }
.submito {
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 200%;
    border-radius: 15px;
    background: white;
    color: #1c1d1f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
